extends ../layout.pug
block content
    section.blog-container
        .container
            img.img-responsive(src=blog.imageUrl)
            h1 #{blog.title}
            p By #{blog.author.name}, Published: #{moment(blog.createdAt).format("MM/DD/YYYY")}
            hr
            div !{blog.content}
            hr
            h3.text-center Tags
            ul.tags
                each tag in blog.tags
                    li
                        a.bracket-animation(href='/blogs?tag=' + tag.name) #{tag.name}
        
    script.
        requirejs(['/js/scripts/blog.js']);