extends ../layout.pug
block content
    section
        .container
            form(method="POST", role="form", data-toggle="validator")
                h1 Edit Blog
                hr
                .row
                    .col-xs-6.no-left-padding
                        .form-group
                            input.form-control.form-control-kp#blog-title(placeholder="Title", type="text", name="title", data-minlength="5", data-error="Title is required", value=blog.title, disabled, required)

                    .col-xs-6.no-left-padding.no-right-padding
                        .form-group        
                            input.form-control.form-control-kp#blog-image(placeholder="Image", type="text", name="image", data-minlength="5", data-error="Image Url is required", value=blog.imageUrl, required)

                .form-group
                    textarea.form-control.form-control-textarea#blog-preview(placeholder="Preview Text...", name="preview", style="min-height: 100px", data-minlength="5", data-error="Preview text is required", required) #{blog.preview}

                .row
                    .col-sm-3.no-left-padding
                        .form-group
                            select.selectpicker#tag-select(multiple, data-width="100%", title="Tags", data-size="6")
                                each tag in blog.tags
                                    option(value=tag._id) #{tag.name}
                    .col-sm-3.no-left-padding
                        .form-group
                            select.selectpicker#blog-type(data-width="100%")
                                option(value="Markdown") Markdown
                                option(value="Html") Html

                    .col-sm-3.no-left-padding
                        .form-group
                            select.selectpicker#blog-active(data-width="100%")
                                option(value="1") Activate Blog
                                option(value="0") De-activate Blog
                                
                    .col-sm-3.no-right-padding.no-left-padding
                        .form-group
                            input.form-control.form-control-textarea#blog-new-tags(placeholder="Add Tags", type="text", name="new-tags")                            
                
                textarea#md-editor(name="content", style="display:none", value=content)
                
                input.btn.btn-default(type="submit", value="Save")

                <br/>
                <br/>
    
    script.
        requirejs(['/js/scripts/blog-edit.min.js'], function(BlogCreate){
            new BlogCreate('md-editor');
        });