extends ../layout.pug

block content
    section.blogs-container
        .container
            .row
                .col-sm-8
                    each blog in blogs
                        .blog-wrapper
                            img.img-respoinsive(src=blog.imageUrl, alt=blog.title width="100%")
                            a.transition.title(href="/blogs/" + blog.permalink) #{blog.title}
                            p  #{blog.preview}
                            a.transition(href="/blogs/" + blog.permalink) read more...

                .col-md-4.hidden-xs
                    h4 Categories
                    hr
                    ul
                        each tag in tags
                            li
                                a(href="/blogs?tag=" + tag) #{tag}